@{
    ViewBag.Title = "Postal - Introduction";
}

<h1>Introducing "Postal"</h1>
<p><strong>Using MVC views to generate email.</strong></p>

<h2>Andrew Davey</h2>
<p>Twitter: @@andrewdavey</p>
<p>Blog: http://aboutcode.net </p>
<p>Email: andrew@equin.co.uk</p>

<h2>Postal</h2>
<p>Home page: http://aboutcode.net/postal </p>
<p>Source code: https://github.com/andrewdavey/postal </p>

<p style="margin-top: 2em">
@Html.ActionLink("Let's go", "index")
</p>