@{
    ViewBag.Title = "Postal - Introduction";
}

<h1>Introducing "Postal"</h1>
<p><strong>Using MVC views to generate email.</strong></p>

<h2>Andrew Davey</h2>
<p>Twitter: @@andrewdavey</p>
<p>Blog: <a href="http://aboutcode.net">http://aboutcode.net</a></p>
<p>Email: andrew@equin.co.uk</p>

<h2>Postal</h2>
<p>Home page: <a href="http://aboutcode.net/postal">http://aboutcode.net/postal</a></p>
<p>Source code: <a href="https://github.com/andrewdavey/postal">https://github.com/andrewdavey/postal</a></p>

<p style="margin-top: 2em">
@Html.ActionLink("Let's go", "index")
</p>