@{
    ViewBag.Title = "Tips";
}

<h1>Tips</h1>
<ul>
    <li>Absolute URLs in emails</li>
    <li>Implicit Email headers</li>
    <li><a href="https://github.com/andrewdavey/postal/tree/mvc-2-backport">MVC2 backport</a></li>
</ul>