@{
    ViewBag.Title = "Postal";
}

<h1>Questions...?</h1>
<p>Get Postal using nuget:</p>
<p><code style="font-weight: bold; font-size: 14pt;">Install-Package postal</code></p>

<h2>Code and docs online</h2>
<p>Home page: <a href="http://aboutcode.net/postal">http://aboutcode.net/postal</a> </p>
<p>Source code: <a href="https://github.com/andrewdavey/postal">https://github.com/andrewdavey/postal</a></p>
<p>Wiki: <a href="https://github.com/andrewdavey/postal/wiki">https://github.com/andrewdavey/postal/wiki</a> </p>

<h2>Contact Me</h2>
<p>Twitter: @@andrewdavey</p>
<p>Blog: http://aboutcode.net </p>
<p>Email: andrew@equin.co.uk</p>
