html {
    background: #999;
}

body
{
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    margin: 10px 0 0 0;
}

#wrap {
    max-width: 900px;
    margin: 0 auto;
    background-color: #eee;
    min-height: 570px;
    position: relative;
    border: solid 1px #fff;
    -webkit-box-shadow: 0 0 25px #555;

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(1, rgb(141,223,253)),
        color-stop(0, rgb(58,146,197))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(141,223,253) 100%,
        rgb(58,146,197) 0%
    );
}
#wrap .inner {
    padding: 30px;
}

#footer {
    background-image: url(mvcconf.png);
    background-repeat: no-repeat;
    background-position: 40px 10px;
    background-color: #fff;
    padding: 55px 10px 10px 115px;
    height: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 775px;
    border-top: solid 10px rgb(206,206,206);
    color: rgb(58, 147, 197);
    font-size: 10pt;
    font-weight: bold;
    font-family: "Arial Black";
}

h1 {
    color: #000;
    margin-top: 0; 
    font-family: "Arial Black";
}

h2 {
    margin-top: 20px;
    margin-bottom: 0;
    color: #235B77;
    font-family: "Arial Black";
}

li {
    margin-bottom: 10px;
}

.field label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.field input, .field textarea {
    width: 300px;
    padding: 2px;
    font-size: 14pt;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
}

button {
    font-size: 14pt;
}

a { text-decoration: none; color: #000; }
a:hover { text-decoration: underline; }

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
